@use "/src/shared/styles/abstract/variables" as v;

.navlink {
    color: v.$link-text-primary;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
    cursor: pointer;

    &:hover {
        color: v.$link-text-hover;
    }

    &:active {
        color: v.$link-text-active;
    }

    &--secondary {
        color: v.$link-text-secondary;
    }

    &--size {
        &-small {
            font-size: 0.875rem;
        }

        &-medium {
            font-size: 1rem;
        }
    }

    &--weight {
        &-light {
            font-weight: 400;
        }
    }
}