$font-primary: 'Readex Pro', sans-serif;

$text-primary: #232323;
$text-secondary: #ffffff;

$brand-blue: #16BBFD;
$brand-pink: #F059FC;

$gradient-primary-vertical: linear-gradient($brand-pink, $brand-blue); 
$gradient-primary-horizontal: linear-gradient(to right, $brand-pink, $brand-blue); 