@use "/src/shared/styles/abstract/variables" as v;

body {
    font-family: v.$font-primary;
    color: v.$text-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

button {
    font-family: v.$font-primary;
    font-weight: 400;
}